body {
    display: flex;
    justify-content: center;
}


label,
input,
button,
sign-up {
    cursor: pointer;
}

.input {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 500px;
    margin: 20px;
}


.button {
    background-color: rgb(0, 157, 255);
    color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    min-width: 500px;
    font-size: 20px;
}

.sign-up {
    margin: 20px;
}