.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}


.box {
    background: rgb(0, 191, 255);
    color: #fff;
    margin: 10px;
    padding: 10px;
    height: 80px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

section{
    margin-bottom: 60px;
}